{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Administración UProbotics</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'UProbotics_app/img/favicon.png' %}">

    <!-- Desplazar lentamente hacia abajo-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('a[href^="#"]').on('click', function(event) {
                var target = $(this.getAttribute('href'));
                if (target.length) {
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000); // Cambia 1000 por el tiempo de desplazamiento en milisegundos
                }
            });
        });
    </script>
    
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'UProbotics_app/css/color_palette.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'UProbotics_app/css/meet_us.css' %}">
     <!-- Customized Bootstrap Stylesheet -->
     <link href="{% static 'UProbotics_app/css/style.css' %}" rel="stylesheet">
     <link href="{% static 'UProbotics_app/css/color_palette.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>
    <!-- Íconos -->
    <script src="https://kit.fontawesome.com/c986eafe9b.js" crossorigin="anonymous"></script>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'UProbotics_app/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'UProbotics_app/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

</head>
<body>
    
   <!-- Header Start -->
   <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 bg-secondary d-none d-lg-block">
            <a href="{% url 'home' %}" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <img src="{% static 'UProbotics_app/img/logo_azul.png' %}" alt="UProbotics Logo" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row bg-white border-bottom d-none d-lg-flex">
                <div class="col-lg-7 text-left">
                    <div class="h-100 d-inline-flex align-items-center py-2 px-3">
                        <i class="fa fa-envelope text-primary mr-2"></i>
                        <small>robotica.up.ags@gmail.com</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                        <i class="fa fa-phone-alt text-primary mr-2"></i>
                        <small>+52 4491064327</small>
                    </div>
                </div>
                <div class="col-lg-5 text-right">
                    <div class="d-inline-flex align-items-center p-2">
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="https://www.facebook.com/IXNAMIKI2018">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="https://www.linkedin.com/in/up-robotics-ags-a59385291/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="https://www.instagram.com/up_robotics_ags/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="https://www.youtube.com/@uprobotics-ags">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary text-uppercase">Justice</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{% url 'home' %}" class="nav-item nav-link ">Inicio</a>
                        <a href="{% url 'mecatronica' %}" class="nav-item nav-link ">Mecatrónica</a>
                        <a href="{% url 'programadores' %}" class="nav-item nav-link ">Programadores</a>
                        <a href="{% url 'administracion' %}" class="nav-item nav-link active">Administración</a>
                        <a href="{% url 'electronica' %}" class="nav-item nav-link ">Electrónica </a>
                        <a href="#contacto" class="nav-item nav-link">Contacto</a>
                    </div>
                    <a href="" class="btn btn-primary mr-3 d-none d-lg-block">Get A Quote</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Header End -->
    
    <h1>Administración UProbotics</h1>
    
    <section class="developers">
    


        <!--DIV NUEVO INTEGRANTE-->
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>María Fernanda Ortega Navarro</h2>
                <img src="{% static 'UProbotics_app/img/logo_blanco.png' %}" alt="Logo UProbotics" style="width: 100px; height: auto; margin-top: -50px;">
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static '' %}" alt="">
            </div>
        </div>
        <!--DIV NUEVO INTEGRANTE-->
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>Jose David Lam</h2>
                <img src="{% static 'UProbotics_app/img/logo_blanco.png' %}" alt="Logo UProbotics" style="width: 100px; height: auto; margin-top: -50px;">
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static '' %}" alt="">
            </div>
        </div>
     

    
    <!-- Footer Start -->
    <div id="contacto" class="container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Ubicación</h5>
                        <p class="m-0">Universidad Panamericana campus Bonaterra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-envelope-open text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Email</h5>
                        <p class="m-0">robotica.up.ags@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
                    <i class="fa fa-2x fa-phone-alt text-primary"></i>
                    <div class="ml-3">
                        <h5 class="text-white">Llamanos</h5>
                        <p class="m-0">+52 4491064327</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 mt-n2 display-4 text-primary ">UProbotics</h1>
                </a>
                <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.facebook.com/IXNAMIKI2018"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.linkedin.com/in/up-robotics-ags-a59385291/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square" href="https://www.instagram.com/up_robotics_ags/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-semi-bold text-primary mb-4">Popular Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                    <a class="text-white mb-2" href='{% url 'programadores' %}'><i class="fa fa-angle-right mr-2"></i>Equipo</a>
                    <a class="text-white" href="#contacto"><i class="fa fa-angle-right mr-2"></i>Contacto</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-semi-bold text-primary mb-4">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>FAQs</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Help</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Terms</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Privacy</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Site Map</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-semi-bold text-primary mb-4">Newsletter</h4>
                <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum.</p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-0" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4 mt-5 mx-0" style="background: rgba(256, 256, 256, .05);">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a class="font-weight-bold" href="#">UProbotics Web Page</a>. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <p class="m-0 footer-design">
                    Designed by <a class="font-weight-bold footer-link" href="https://www.instagram.com/iia.upags/">IIA UP AGS</a>
                </p>
                

            </div>
        </div>
    </div>
    <!-- Footer End -->

    

</body>
</html>
